.contact {
    background-color: $tertiary-color;
    color: $secondary-color;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &__title {
        font-family: $primary-font;
    }
    &__form {
    }
    &__input {
        border-color: $quaternary-color;
        border-style: solid;
        border-radius: 5px;
        padding: 10px 20px 10px 25px;
        background-image: url("../images/envelope.svg");
        background-size: 15px 15px;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 5px;
    }
}
.social {
    &__link {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 0 10px;
        background-size: 50px 50px;
        &--twitter {
            background-image: url("../images/twitter.svg");
        }
        &--facebook {
            background-image: url("../images/facebook.svg");
        }
        &--github {
            background-image: url("../images/github.svg");
        }
        &--instagram {
            background-image: url("../images/instagram.svg");
        }
    }
}
@media screen and (max-width: 480px) {
    .contact {
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }
    .social {
        &__link {
            width: 40px;
            height: 40px;
            background-size: 100%;
        }
    }
}
