body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: #026fff;
}

.header {
  background-color: #1b2127;
  color: #fafafa;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header__menu {
  height: inherit;
}

.header__menu--link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .header {
    display: block;
    height: auto;
  }

  .header ol {
    display: initial;
  }

  .header ol li {
    height: 50px;
  }

  .header__logo {
    text-align: center;
  }

  .header__menu {
    position: fixed;
    background-color: rgba(2, 111, 255, 0.9);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: auto; */
    transition: 0.3s;
  }

  .header__menu--isActive {
    left: 0;
  }

  .header__menu--link {
    justify-content: center;
  }
}

.contact__btn {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .contact__btn {
    margin: 1em auto;
  }
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  /* display: block; */
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
}

@media screen and (max-width: 767px) {
  .burger-button {
    display: flex;
  }
}

.protagonist {
  height: 300px;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.protagonist__title {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: #fafafa;
  margin: 0;
}

.protagonist strong {
  color: #026fff;
}

.protagonist__img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .protagonist {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }

  .protagonist__title {
    font-size: 2em;
    z-index: 2;
  }

  .protagonist__img {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .protagonist__title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) {
  .protagonist {
    padding: 2em 1em;
  }

  .protagonist__title {
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
  }
}

.portfolio__title {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.portfolio__project {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio__project strong {
  font-family: "Fjalla One", sans-serif;
}

.portfolio__project figure {
  margin: 0;
}

.portfolio__project--details {
  width: 50%;
}

.portfolio__project--title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.portfolio__project--tech {
  margin: 10px 0;
}

.portfolio__project--date {
  margin: 10px 0;
}

.portfolio__project--url {
  margin: 10px 0;
}

.portfolio__project--description {
  font-size: 20px;
}

.portfolio__project--imageContainer {
  width: 50%;
}

.portfolio__project--image {
  max-width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .portfolio {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__title {
    font-size: 1.2em;
    margin: 0.5em 0;
  }

  .portfolio__project {
    display: block;
  }

  .portfolio__project--details {
    width: auto;
    font-size: 16px;
  }

  .portfolio__project--title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }

  .portfolio__project--tech {
    margin: 0.4em 0;
    font-size: 0.7em;
  }

  .portfolio__project--date {
    margin: 0.4em 0;
    font-size: 1em;
  }

  .portfolio__project--url {
    margin: 0.4em 0;
    font-size: 1em;
  }

  .portfolio__project--description {
    font-size: 1em;
  }

  .portfolio__project--imageContainer {
    width: auto;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .portfolio__project--details {
    font-size: 12px;
  }
}

.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event__list {
  display: flex;
  flex-wrap: wrap;
}

.event__list--title {
  margin-left: 20px;
}

.event__img {
  width: 480px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.event__detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: #fafafa;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event__description {
  text-align: left;
}

.event__url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@media screen and (max-width: 1024px) {
  .event__list--title {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event__img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .event__detail {
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }
}

.contact {
  background-color: #026fff;
  color: #fafafa;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact__title {
  font-family: "Source Sans Pro", sans-serif;
}

.contact__input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url(/images/envelope.svg?e94196796fcd701aa3076f765520642a);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.social__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social__link--twitter {
  background-image: url(/images/twitter.svg?ac6e9cdd48e2432bc08e092c7809a8ef);
}

.social__link--facebook {
  background-image: url(/images/facebook.svg?ea1b815ecbbd285726fd6cd2f487edc4);
}

.social__link--github {
  background-image: url(/images/github.svg?07adf44b5b749b1eecc554059626e9cd);
}

.social__link--instagram {
  background-image: url(/images/instagram.svg?60d166b38db33f894bf7555a199ca010);
}

@media screen and (max-width: 480px) {
  .contact {
    height: auto;
    padding: 1em 0;
    text-align: center;
    display: block;
  }

  .social__link {
    width: 40px;
    height: 40px;
    background-size: 100%;
  }
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  flex: 1;
  /* toma todo el ancho disponible en el elemento */
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
}

.footer {
  color: #fafafa;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

