$primary-color:#1b2127;
$secondary-color:#fafafa;
$tertiary-color:#026fff;
$quaternary-color: gray;
$quinary-color:#f4fbff;
$sextary-color: rgba(0, 0, 0, .8) ;
$septenary-color:rgba(2, 111, 255, 0.9);